.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10rem;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}

.foot {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center;
}

.footerblock {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 10px;
  max-width: 200px;
}

.footerblock h7 {
  margin-bottom: 10px;
}

.footer-links {
  display: flex;
}

.footer-links a {
  color: white;
  margin-right: 10px;
}
